<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 1つめのアクセス情報。新宿本社 -->
	<section class="accessInfo">
		<!-- PCレイアウトでは右側に来て、スマホレイアウトでは上に来るテキストによる事業所情報 -->
		<div class="accessbaseinfomation" id="">
			<!-- 新宿本社のアクセス情報見出し -->
			<dt class="accessHead">
				<!-- 会社所在地 -->
				<span class="accessPlace"></span>
				<!-- 会社住所 -->
				<span class="companyaddress"></span>
			</dt>
			<!-- ddタグ内で詳細なアクセス情報を表示。まずは新宿本社の住所を表示 -->
			<dd class="accessData">
				<span class="accessDetail"></span>
			</dd>
		</div>
		<!-- GoogleMapの位置を制御するためのdivタグ -->
		<div class="mapwrap">
			<!-- 新宿本社のGoogleMap -->
			<iframe class="accessMapCotrol" frameborder="" scrolling="" marginheight="" marginwidth="" src=""></iframe><br>
		</div>
		<!-- GoogleMapのウェブサイトのリンク -->
		<small class="accessMap">
			<a class="mapLink" href="" style=""></a>
		</small>
	</section>

	<hr class="boundary">

</div>
</body>
</html>
