<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

    <!-- 各ページ共通で企業ロゴ画像とナビゲーションバーを置くheaderタグ。各ページに必ず表示することを考慮し、footerタグと同じ"baseinfoクラスを設定" -->
    <header class="baseinfo">
        <div id="" class="mottobg">
        </div>
        <div id="" class="toppagemotto">
            <!-- 企業ロゴ領域 -->
            <h4 class="corporationMotto"></h4>
            <div id="" class="headercontents">
                <div id="" class="companylogo">
                    <span id="" class="biglogo-substitute" style=""></span>
                    <img id="" class="smalllogo" src="">
                </div>
                <div id="" class="ssn-d2124">
                    <img id="" class="ssnimg1" src="">
                    <img id="" class="ssnimg2"  src="">
                    <img id="" class="ssnimg3" src="">
                    <img id="" class="ssnimg4" src="">
                </div>
            </div>
        </div>
        <div id="" class="navigationbg"></div>
        <!-- ナビゲーションバーを置くnavタグ -->
        <nav id="" class="navigation">
	        <!-- リストの外枠となるulタグ -->
	        <ul class="navigationUl">
	            <!-- トップページへとリンクするボタン -->
	            <li class="navigationLi"><a href=""></a>
	            </li>
	        <!-- リスト終了 -->
	        </ul>
	      <!-- navタグを閉じてナビゲーションバーの記述を終了 -->
	    </nav>
    </header>

	<!-- ページの共通フッターを領域 -->
    <div id="" class="footerwrap">
        <div id="" class="footerleft">
            <span class="footerlogo"></span>
            <span class="footercompanyname"></span>
            <address class="sinjukuAddress">
	            <span class="basename"></span><br>
	            <span class="basepostal"></span><br>
	            <span class="baseaddressinfo"></span><br>
	            <span class="basetell"></span>
	            <span class="basefax"></span>
            </address>
            <address class="sagamiharaAddress">
	            <span class="basename"></span><br>
	            <span class="basepostal"></span><br>
	            <span class="baseaddressinfo"></span><br>
	            <span class="basetell"></span>
	            <span class="basefax"></span>
	        </address>
            <span class="baseemail"></span>
        </div>
	    <div id="" class="footerright">
	        <navigation id="" class="contentlinks">
		        <ul class="contentlinksUl">
		            <li class="contentlinksLi"><a href=""></a></li>
		        </ul>
	        </navigation>
	    </div>
	    <!-- コピーライトの文を書く -->
	    <br>
	    <small class="copyright"></small>
    <!-- footerタグを閉じる -->
    </div>

	<!-- 募集要項外側領域-->
	<div class="guidlineContentOutline"></div>

	<!-- 募集要項内容 -->
	<div class="guidelineContent">
		<!-- 募集要項テーマ領域 -->
		<div class="guideTheme clearfix">
			<!-- 募集要項ロゴ領域 -->
			<div class="guideLogo"></div>
			<!-- 募集要項タイトル領域 -->
			<ul class="guideTitle">
				<!-- 募集要項タイトル詳細領域 -->
				<li class="guideTitleDetail1"></li>
				<li class="guideTitleDetail2"></li>
			</ul>
		</div>
	</div>


	<!-- 募集要項テーブル -->
	<table class="guidelineTable">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle">
				<!-- 内側に作るtable -->
				<table class="titleInTable">
					<tr class="inTableFirst">
						<th class="contentExplain" rowspan=""></th>
					</tr>
					<tr class="inTableSecond">
						<td class="contentExplainDetail1"></td>
					</tr>
					<tr class="inTableThird">
						<td class="contentExplainDetail2"></td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- 募集要項詳細の内容(コピー対象) -->
		<tr class="guidelineDetail">
			<td class="guidelineDetailData"></td>
		</tr>
	</table>

	<!-- SEO対策 metaタグ -->
	<meta class="metaTag" name="" content="">

	<!-- サイドメニュー -->
	<ul id="" class="sidemenulist">
		<!-- リストのヘッダ -->
		<li class="listHead"></li>
		<!-- リスト一覧(コピー対象) -->
		<li class="listCopyTarget">
			<a id="" href=""></a>
		</li>
	</ul>


	<!-- レスポンシブレイアウトにおけるsuccess(mini).gifの表示のためのdivタグ -->
	<div id="" class="pageSubtitle">
		<!-- ページの大見出し -->
		<div class="articlehead">
			<!-- 大見出しのテキスト部 -->
			<h3 class="subtitleText"></h3>
		<!-- 大見出し終了 -->
		</div>
		<!-- 研修生募集の画像 -->
		<a class="inductionLink" href="">
			<img class="inductionLinkImg" id="" src="">
		</a>
	<!-- レスポンシブレイアウト用見出しdivを終える -->
	</div>

	<!-- InstanceEndEditable(PC版研修制度ページリンク画像) -->
	<div id="" class="inductionPcLinkArea">
	    <a class="inductionPcLink" href="">
	    	<img class="inductionPcImg" src="" alt="">
	    </a>
	</div>

</div>
</body>
</html>
