<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 注意書き部分を開始 -->
	<div class="supplement">
		<!-- 注意書き本文 -->
		<p class="supplementP"></p>
	<!-- 注意書き部分終了 -->
	</div>

	<form class="contactForm" action="" method="" value="">
		<input class="hiddenData" type="" name="" size="" value="">
		<!-- フォームの構成要素を囲む -->
		<dl class="entryFormContent">
			<!-- 氏名 -->
			<dt class="nameHead">
				<span class="name"></span>
				<span class="nameruby"></span>
			</dt>
			<!-- 氏名を入力するテキストボックス -->
			<dd class="nameContent">
				<input type="" class="nameInput" name="" size="" required>
			</dd>
			<!-- 性別 -->
			<dt class="sexHead">
				<span class="sex"></span>
				<span class="sexruby"></span>
			</dt>
			<!-- 性別を選択するラジオボタン -->
			<dd class="sexContent">
				<input class="sexRadio1" type="" name="" value="" checked>
				<span class="men"></span>
				<input class="sexRadio2" type="" name="" value="">
				<span class="women"></span>
			</dd>
			<!-- メールアドレス -->
			<dt class="emailHead">
				<span class="email"></span>
				<span class="emailruby"></span>
			</dt>
			<!-- メールアドレスを入力するテキストボックス -->
			<dd class="emailContent">
				<input type="" class="emailInput" name="" size="" required>
			</dd>
			<dt class="questionHead">
				<span class="question"></span>
				<span class="questionruby"></span>
			</dt>
			<dd class="questionContent">
				<textarea class="textareaInput" name="" cols="" rows="" required></textarea>
			</dd>
		</dl>
		<p class="submitbuttonarea">
			<button type="" class="submitbutton"></button>
		</p>
	</form>

</div>
</body>
</html>
