<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- 募集要項外側領域-->
	<div class="guidlineContentOutline"></div>

	<!-- 募集要項内容 -->
	<div class="guidelineContent">
		<!-- 募集要項テーマ領域 -->
		<div class="guideTheme">
			<!-- 募集要項ロゴ領域 -->
			<div class="guideLogo"></div>
			<!-- 募集要項タイトル領域 -->
			<ul class="guideTitle">
				<!-- 募集要項タイトル詳細領域 -->
				<li class="guideTitleDetail1"></li>
				<li class="guideTitleDetail2"></li>
			</ul>
		</div>
	</div>

	<!-- 募集要項テーブル -->
	<table class="guidelineTable">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle"></td>
		</tr>
		<tr class="guidelineDetailTh1">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd1">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh2">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd2">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh3">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd3">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh4">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd4">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh5">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd5">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh6">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd6">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh7">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd7">
			<td class="guidelineDetailTd"></td>
		</tr>
	</table>

	<!-- 募集要項テーブル -->
	<table class="guidelineTableEngineer">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle"></td>
		</tr>
		<tr class="guidelineDetailTh1">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd1">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh2">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd2">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh3">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd3">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh4">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd4">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh5">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd5">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh6">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd6">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh7">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd7">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh8">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd8">
			<td class="guidelineDetailTd"></td>
		</tr>
	</table>

	<!-- 募集要項テーブル -->
	<table class="guidelineTableSales">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle"></td>
		</tr>
		<tr class="guidelineDetailTh1">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd1">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh2">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd2">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh3">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd3">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh4">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd4">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh5">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd5">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh6">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd6">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh7">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd7">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh8">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd8">
			<td class="guidelineDetailTd"></td>
		</tr>
		<tr class="guidelineDetailTh9">
			<th class="guidelineDetailTh"></th>
		</tr>
		<tr class="guidelineDetailTd9">
			<td class="guidelineDetailTd"></td>
		</tr>
	</table>

	<tr class="guidelineDetailPlusTh">
		<th class="guidelineDetailTh"></th>
	</tr>

	<tr class="guidelineDetailPlusTd">
		<td class="guidelineDetailTd"></td>
	</tr>

</div>
</body>
</html>
