<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<table border="" class="twotonetable">
		<tr class="tableRow1">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow2">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow3">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow4">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow5">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow6">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow7">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow8">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow9">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
		<tr class="tableRow10">
			<th class="historyyear"></th>
			<th class="historymonth"></th>
			<td class="historyarticle"></td>
		</tr>
	</table>

</div>
</body>
</html>
