<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- 募集要項外側領域-->
	<div class="guidlineContentOutline"></div>

	<!-- 募集要項内容 -->
	<div class="guidelineContent">
		<!-- 募集要項テーマ領域 -->
		<div class="guideTheme clearfix">
			<!-- 募集要項ロゴ領域 -->
			<div class="guideLogo"></div>
			<!-- 募集要項タイトル領域 -->
			<ul class="guideTitle">
				<!-- 募集要項タイトル詳細領域 -->
				<li class="guideTitleDetail1"></li>
				<li class="guideTitleDetail2"></li>
			</ul>
		</div>
	</div>


	<!-- 募集要項テーブル -->
	<table class="guidelineTable">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle">
				<!-- 内側に作るtable -->
				<table class="titleInTable">
					<tr class="inTableFirst">
						<td class="contentExplain" rowspan=""></td>
					</tr>
					<tr class="inTableSecond">
						<td class="contentExplainDetail1"></td>
					</tr>
					<tr class="inTableThird">
						<td class="contentExplainDetail2"></td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- 募集要項詳細の内容(コピー対象) -->
		<tr class="guidelineDetail">
			<td class="guidelineDetailData"></td>
		</tr>
	</table>

	<tr class="guidelineDetailPlusTh">
		<th class="guidelineDetailTh"></th>
	</tr>

	<tr class="guidelineDetailPlusTd">
		<td class="guidelineDetailTd"></td>
	</tr>

</div>
</body>
</html>
