<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 募集要項テーブル -->
	<table class="guidelineTable2">
		<tr class="guidelineRow">
			<td class="guidelineRowDetail" rowspan=""></td>
		</tr>
		<tr class="guidelineTitleRow">
			<td class="guidelineTitle">
				<!-- 内側に作るtable -->
				<table class="titleInTable">
					<tr class="inTableFirst">
						<th class="contentExplain" rowspan=""></th>
					</tr>
					<tr class="inTableSecond">
						<td class="contentExplainDetail1"></td>
					</tr>
					<tr class="inTableThird">
						<td class="contentExplainDetail2"></td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- 募集要項詳細の内容(コピー対象) -->
		<tr class="guidelineDetail">
			<td class="guidelineDetailData"></td>
		</tr>
	</table>

</div>
</body>
</html>
