<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 左側となる1つ目の会社概要の表を開始 -->
	<table border="" class="twotonetable">
		<!-- 商号の行 -->
		<tr class="outlineRecord1">
			<!-- 商号の見出し -->
			<th class="tableHead"></th>
			<!-- 会社名 -->
			<td class="tableData"></td>
			<!-- 商号の行を終了 -->
		</tr>
		<!-- 創業時期の行 -->
		<tr class="outlineRecord2">
			<!-- 創業の見出し -->
			<th class="tableHead"></th>
			<!-- 創業時期 -->
			<td class="tableData"></td>
		<!-- 創業時期の行を終了 -->
		</tr>
		<!-- 代表者の行 -->
		<tr class="outlineRecord3">
			<!-- 代表者の見出し -->
			<th class="tableHead"></th>
			<!-- 代表者を書く -->
			<td class="tableData"></td>
		<!-- 代表者の行を終了 -->
		</tr>
		<!-- 資本金の行 -->
		<tr class="outlineRecord4">
			<!-- 資本金の部分 -->
			<th class="tableHead"></th>
			<!-- 資本金を書く -->
			<td class="tableData"></td>
		<!-- 資本金の行を終了 -->
		</tr>
		<!-- 従業員数の行を開始 -->
		<tr class="outlineRecord5">
			<!-- 従業員数の見出し -->
			<th class="tableHead"></th>
			<!-- 従業員数を書く -->
			<td class="tableData"></td>
		<!-- 従業員巣の行を終了 -->
		</tr>
		<!-- 取引先紹介の行 -->
		<tr class="outlineRecord6">
			<!-- 取引先紹介の見出し -->
			<th class="tableHead"></th>
			<!-- 取引先を書く -->
			<td class="tableData"></td>
		<!-- 取引先紹介の行を終了 -->
		</tr>
		<tr class="outlineRecord7">
			<!-- 所在地の見出し -->
			<th class="tableHead"></th>
			<!-- 新宿本社の記述開始とアクセスページの新宿本社の項目へのリンクボタン -->
			<td class="tableData"></td>
		<!-- 所在地の見出しを閉じる -->
		</tr>
		<!-- 住所の行 -->
		<tr class="outlineRecord8">
			<!-- 空白の要素 -->
			<th class="tableHead"></th>
			<td class="tableData"></td>
		<!-- 住所の行を閉じる -->
		</tr>
		<!-- 電話、FAX番号の行 -->
		<tr class="outlineRecord9">
		<!-- 空白の要素 -->
			<th class="tableHead"></th>
			<!-- 電話、FAX番号を記述 -->
			<td class="tableData"></td>
		<!-- 電話番号の行を閉じる -->
		</tr>
		<!-- 相模原事業所の記述開始の行 -->
		<tr class="outlineRecord10">
		<!-- 空白の要素 -->
			<th class="tableHead"></th>
			<!-- 相模原事業所の記述、アクセスページの相模原事業所の項目へのリンクボタン -->
			<td class="tableData"></td>
		<!-- 相模原事業所の記述開始の行を閉じる -->
		</tr>
		<!-- 相模原事業所の住所の行 -->
		<tr class="outlineRecord11">
			<!-- 空白の要素 -->
			<th class="tableHead"></th>
			<!-- 相模原事業所の住所を記述 -->
			<td class="tableData"></td>
		<!-- 相模原事業所の住所の行を閉じる -->
		</tr>
		<!-- 相模原事業所の電話、FAX番号の行 -->
		<tr class="outlineRecord12">
			<!-- 空白の要素 -->
			<th class="tableHead"></th>
			<!-- 空白の要素 -->
			<td class="tableData"></td>
		<!-- 空白の列を閉じる -->
		</tr>
		<!-- 左側の会社概要の表を終了 -->
	</table>

	<!-- 組織図の画像領域。クリックすることで原寸大表示となる -->
	<div id="" class="enlargeable">
		<!-- 組織図の画像 -->
		<img class="enlargeableimg" src="">
	<!-- ポップアップ画像の記述領域を閉じる -->
	</div>

</div>
</body>
</html>
