<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 社是,モットーの記事のセクションを開始 -->
	<section class="sectionParts1">
		<!-- 記事テキスト部の見出し部 -->
		<div class="articlehead2">
			<!-- 記事見出しのテキスト部 -->
			<h3 class="article2head"></h3>
			<!-- 記事本文を開始 -->
			<span class="slogan">
				<span class="slogan1"></span>
				<!-- 補足文を開始 -->
				<aside class="sloganAside">
				<!-- 補足文を終了 -->
				</aside>
			<!-- 記事本文終了 -->
			</span>
		<!-- 記事テキスト部を終了 -->
		</div>
	<!-- 記事セクションを閉じる -->
	</section>

	<!-- 記事セクションを開始 -->
	<section class="actionPrinciple">
		<!-- 記事見出しを開始 -->
		<div class="articlehead2">
			<!-- 見出しテキスト -->
			<h3 class="article2head"></h3>
		</div>
		<!-- コンテンツ独自の形のリストを開始 -->
		<ul class="simpletext">
			<!-- 1項目 -->
			<li class="simpletextLi1">
				<!-- 1項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 1項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 2項目 -->
			<li class="simpletextLi2">
				<!-- 2項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 2項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 3項目 -->
			<li class="simpletextLi3">
				<!-- 3項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 3項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 4項目 -->
			<li class="simpletextLi4">
				<!-- 4項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 4項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 5項目 -->
			<li class="simpletextLi5">
				<!-- 5項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 5項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 6項目 -->
			<li class="simpletextLi6">
				<!-- 6項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 6項目本文 -->
				<p class="simpletextP"></p>
			</li>
			<!-- 7項目 -->
			<li class="simpletextLi7">
				<!-- 7項目見出し -->
				<h4 class="simpletextH4"></h4>
				<!-- 7項目本文 -->
				<p class="simpletextP"></p>
			</li>
		</ul>
	</section>

</div>
</body>
</html>
