<!-- 募集要項のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- InstanceEndEditable -->
	<!-- InstanceEndEditable -->
	<section class="serviceSection"><!-- InstanceBeginEditable name="developmenthead" -->
		<!-- レスポンシブレイアウトにおけるsuccess(mini).gifの表示のためのdivタグ -->
		<!-- コンテンツのベースとなる画像 -->
		<img class="serviceBaseImg" id="" src="">
		<!-- 絶対座標の要素で構成されることから、コンテンツの高さを確保するための支柱となる画像を置く -->
		<img class="imgPillar" id="" src="">
		<!-- idに応じたコンテンツを呼び出す透過画像ボタン3個 -->
		<!-- 開発内容コンテンツのボタン -->
		<img src="" class="developmentContent" id="">
		<!-- 開発スキルコンテンツのボタン -->
		<img src="" class="developmentSkill" id="">
		<!-- 開発実績コンテンツのボタン -->
		<img src="" class="Achievement" id="">
		<!--div id="textcircle">
		<a href="gideline.html"><img id="textcircleimgbutton" src="ddt-regular/img/success(mini).gif"></a -->
		<img id="textcircle" alt="">
	<!-- /div -->
	<!-- InstanceEndEditable -->
	<!-- セクションを閉じる -->
	</section>


</div>
</body>
</html>
